.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  margin: auto, 200px;
  padding: auto, 50px;
}
.exercise-header {
  margin-left: 100px;
  color: white;
  padding: 100px;
}

h2 {
  color: white;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  padding: 40px;
}
