body {
  background-image: url("../Assets/Images/weights.jpg");
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 100px;
  padding: 60px;
}

.button {
  align-items: center;
  margin-left: 700px;
}
