body {
  background-image: url("../Assets/Images/weights.jpg");
}

.signup-form {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 500px;
  margin-right: 500px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /*margin-left: 700px;
  margin-right: 700px;*/
}
